.advisor-card {
    background: #fffbee;
    height: 320px;
}

.advisor-card.patmos {
    background: #ebe8f9;
}

.advisor-card.society {
    background: #e5e5e5;
}

.advisor-card div, .advisor-card p {
    font-size: 11px;
}

.advisor-card .glory {
    background-image: url(../images/glory.png);
    background-size: cover;
    min-height: 44px;
    max-width: 44px;
    width: 44px;
    float: right;
    margin-right: -16px;
}

.advisor-card p {
    height: 124px;
}

.advisor-card p span {
    position: absolute;
    right: 32px;
    bottom: 112px;
    font-size: 16px;
    font-weight: bold;
}

.advisor-card .list-group-item{
    background: rgba(255,255,255,.7);
}

.advisor-card.society .card-body ul {
    margin-top: 64px;
}

.row div.costs {
    padding-right: 0;
}

.advisor-card .costs div {
    color: white;
    min-height: 44px;
    max-width: 44px;
    font-size: 26px;
    text-align: center;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-size: cover;
}

.advisor-card .costs .rep-cost {
    background-image: url(../images/rep3.png);
}

.advisor-card .costs .ker {
    background-image: url(../images/ker.png);
}

.advisor-card .costs .society {
    background-image: url(../images/society.png);
}

.advisor-card .costs .gold-cost {
    background-image: url(../images/gold3.png);
}