.upgrade {
    width: 150px;
    height: 150px;
    float: left;
}

.upgrade h5 {
    padding: 0 0 0 8px;
}

.upgrade p {
    height: 74px;
    margin-bottom: 0;
    padding: 0 0 0 8px;
}

.upgrade p.font-small {
    font-size: 12px;
}

.upgrade.wood {
    border-left: solid 8px #8f4936;
    background-color:bisque;
}

.upgrade .wrap {
    background: yellow;
}

.upgrade .gold-cost {
    color: white;
    min-height: 44px;
    max-width: 44px;
    width: 44px;
    font-size: 26px;
    text-align: center;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    background-size: cover;
    background-image: url(../images/gold3.png);
    float: right
}
